workflows/video-agent-standard-v1-practical.json
{
  "name": "Video Agent Standard V1 Practical",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-agent-standard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "video-agent-standard"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product-name",
              "name": "product_name",
              "value": "={{ $json.body.product_name }}",
              "type": "string"
            },
            {
              "id": "product-description",
              "name": "product_description",
              "value": "={{ $json.body.product_description }}",
              "type": "string"
            },
            {
              "id": "target-audience",
              "name": "target_audience",
              "value": "={{ $json.body.target_audience }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "price",
              "value": "={{ $json.body.price || '$29.99' }}",
              "type": "string"
            },
            {
              "id": "usps",
              "name": "unique_selling_points",
              "value": "={{ $json.body.unique_selling_points }}",
              "type": "array"
            },
            {
              "id": "music-url",
              "name": "music_url",
              "value": "={{ $json.body.music_url || '' }}",
              "type": "string"
            },
            {
              "id": "music-volume",
              "name": "music_volume",
              "value": "={{ $json.body.music_volume || 0.25 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Product Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an ELITE viral TikTok/Instagram video strategist for dropshipping products. Your creatives convert at 3-5% CTR (vs industry average 1-2%).\\n\\nKEY PRINCIPLES (2026 STANDARD VERSION):\\n- UGC ads get 3× higher CTR than branded ads (PROVEN)\\n- Videos 25-35 sec = sweet spot for completion rate (75%+ = algorithmic boost)\\n- Anti-AI detection: human imperfections, natural speech\\n- Doomscrolling hooks: guilt redirect, time scarcity\\n- Advanced transitions increase engagement by 22%\\n\\nSTANDARD VERSION FEATURES:\\n- 5-6 high-quality UGC images\\n- Advanced transitions (wipe, slide, zoom, fade)\\n- Dynamic text overlays\\n- Professional color grading\\n- Ken Burns effect (subtle motion)\\n\\nOUTPUT FORMAT:\\n{\\n  \\\"strategy\\\": {\\n    \\\"hook_type\\\": \\\"doomscroll_guilt|before_after|problem_solution|testimonial_pov\\\",\\n    \\\"mood\\\": \\\"energetic|calm|upbeat|inspirational\\\",\\n    \\\"target_emotion\\\": \\\"FOMO|curiosity|relief|excitement\\\",\\n    \\\"color_grade\\\": \\\"warm|cool|vibrant|muted\\\",\\n    \\\"transition_style\\\": \\\"smooth|snappy|cinematic\\\",\\n    \\\"pacing\\\": \\\"fast|medium|slow\\\"\\n  },\\n  \\\"script\\\": {\\n    \\\"hook\\\": \\\"First 3 seconds text (guilt redirect hook)\\\",\\n    \\\"body\\\": \\\"Main script 20-25 seconds (natural, contractions, filler words)\\\",\\n    \\\"cta\\\": \\\"Call to action 5 seconds\\\",\\n    \\\"total_duration\\\": 28-33\\n  },\\n  \\\"midjourney_prompts\\\": [\\n    \\\"Opening hook visual (UGC style)\\\",\\n    \\\"Problem/Before shot\\\",\\n    \\\"Product in action close-up\\\",\\n    \\\"Product detail/feature shot\\\",\\n    \\\"After/Result wide shot\\\",\\n    \\\"Final CTA visual\\\"\\n  ],\\n  \\\"timing\\\": [\\n    {\\\"image\\\": 0, \\\"duration\\\": 4, \\\"text_overlay\\\": \\\"hook text\\\", \\\"transition\\\": \\\"zoomIn\\\", \\\"effect\\\": \\\"zoomInSlow\\\"},\\n    {\\\"image\\\": 1, \\\"duration\\\": 5, \\\"text_overlay\\\": null, \\\"transition\\\": \\\"wipeLeft\\\", \\\"effect\\\": \\\"slideRight\\\"},\\n    {\\\"image\\\": 2, \\\"duration\\\": 7, \\\"text_overlay\\\": \\\"benefit text\\\", \\\"transition\\\": \\\"slideUp\\\", \\\"effect\\\": \\\"zoomIn\\\"},\\n    {\\\"image\\\": 3, \\\"duration\\\": 5, \\\"text_overlay\\\": null, \\\"transition\\\": \\\"fade\\\", \\\"effect\\\": \\\"slideLeft\\\"},\\n    {\\\"image\\\": 4, \\\"duration\\\": 6, \\\"text_overlay\\\": null, \\\"transition\\\": \\\"zoomIn\\\", \\\"effect\\\": \\\"zoomInSlow\\\"},\\n    {\\\"image\\\": 5, \\\"duration\\\": 5, \\\"text_overlay\\\": \\\"CTA text\\\", \\\"transition\\\": \\\"fade\\\", \\\"effect\\\": \\\"zoomOut\\\"}\\n  ],\\n  \\\"performance_estimate\\\": {\\n    \\\"viral_score\\\": 1-10,\\n    \\\"estimated_ctr\\\": \\\"X-Y%\\\",\\n    \\\"target_completion_rate\\\": \\\"XX%\\\",\\n    \\\"expected_engagement\\\": \\\"XX%\\\"\\n  }\\n}\\n\\nMIDJOURNEY PROMPT RULES (ENHANCED):\\n- ALWAYS use: 'shot on iPhone 15 Pro, handheld camera with natural shake'\\n- ALWAYS include: 'natural window lighting, golden hour sunlight'\\n- Add imperfections: 'slight motion blur, thumb partially visible in corner'\\n- UGC authenticity: 'mild grain, off-center composition, casual home environment'\\n- Product focus: 'shallow depth of field, product in sharp focus'\\n- Color hints: Match strategy.color_grade (\\\"warm tones\\\", \\\"vibrant colors\\\", etc.)\\n- Format: '--style raw --v 6 --ar 9:16 --q 2' (high quality)\\n- AVOID banned words: nude, violence, drugs, weapons\\n\\nSCRIPT RULES:\\n- Use contractions (it's, that's, you're, I've)\\n- Filler words ENCOURAGED: \\\"like\\\", \\\"literally\\\", \\\"okay so\\\", \\\"honestly\\\"\\n- Natural pauses: *sigh*, *laugh*, em-dashes, ellipsis\\n- Typos in text overlays ok (lowercase, no punctuation)\\n- Address viewer directly: \\\"you\\\", \\\"your\\\"\\n- Build narrative arc: hook → problem → solution → result → CTA\\n\\nDOOMSCROLL HOOKS (ADVANCED):\\n- \\\"you've been scrolling for 10 minutes...\\\"\\n- \\\"POV: you're supposed to be [doing X]\\\"\\n- \\\"me pretending I didn't just waste an hour\\\"\\n- \\\"okay but hear me out—\\\"\\n- \\\"nobody talks about this but...\\\"\\n- \\\"this is your sign to stop scrolling\\\"\\n\\nTEXT OVERLAY STYLE:\\n- Max 3-5 words per overlay\\n- All lowercase (authentic)\\n- Use emojis sparingly (1-2 max)\\n- Keywords from script\\n\\nGenerate STANDARD-TIER viral video strategy.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Product: {{ $json.product_name }}\\n\\nDescription: {{ $json.product_description }}\\n\\nTarget audience: {{ $json.target_audience }}\\n\\nPrice: {{ $json.price }}\\n\\nUnique selling points: {{ $json.unique_selling_points.join(', ') }}\\n\\nGenerate STANDARD VERSION viral TikTok video strategy with:\\n- 5-6 high-quality UGC images\\n- Advanced transitions and effects\\n- Professional but authentic feel\\n- Target CTR: 3.5-5%\"\n    }\n  ],\n  \"temperature\": 0.85,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "gpt-analyze",
      "name": "GPT-4o Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-key",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse GPT response\nconst response = $input.first().json;\nconst content = JSON.parse(response.choices[0].message.content);\n\nreturn {\n  json: {\n    strategy: content.strategy,\n    script: content.script,\n    midjourney_prompts: content.midjourney_prompts,\n    timing: content.timing,\n    performance_estimate: content.performance_estimate,\n    product_name: $('Extract Product Data').first().json.product_name,\n    total_images: content.midjourney_prompts.length\n  }\n};"
      },
      "id": "parse-strategy",
      "name": "Parse Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "multiplex",
        "assignments": {
          "assignments": [
            {
              "id": "midjourney-prompt",
              "name": "midjourney_prompt",
              "value": "={{ $json.midjourney_prompts[$index] }}",
              "type": "string"
            },
            {
              "id": "image-index",
              "name": "image_index",
              "value": "={{ $index }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "loop-prompts",
      "name": "Loop Midjourney Prompts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.useapi.net/v2/jobs/imagine",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.midjourney_prompt }} --style raw --v 6 --ar 9:16 --q 2\",\n  \"webhook\": null\n}",
        "options": {}
      },
      "id": "midjourney-generate",
      "name": "Midjourney Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "useapi-key",
          "name": "UseAPI Midjourney Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "wait-midjourney",
      "name": "Wait for Midjourney",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 400],
      "webhookId": "wait-midjourney-standard"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.useapi.net/v2/jobs/{{ $json.jobid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-midjourney-status",
      "name": "Check Midjourney Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "useapi-key",
          "name": "UseAPI Midjourney Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.result.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-midjourney-image",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Collect all images with their timing metadata\nconst allInputs = $input.all();\nconst strategy = $('Parse Strategy').first().json;\n\nconst images = allInputs.map((item, index) => ({\n  binary: item.binary,\n  json: {\n    index: index,\n    timing: strategy.timing[index]\n  }\n}));\n\nreturn images;"
      },
      "id": "collect-images",
      "name": "Collect All Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Parse Strategy').first().json.script.hook }}. {{ $('Parse Strategy').first().json.script.body }}. {{ $('Parse Strategy').first().json.script.cta }}\",\n  \"model_id\": \"eleven_turbo_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.45,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.4,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "elevenlabs-voiceover",
      "name": "ElevenLabs Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "elevenlabs-key",
          "name": "ElevenLabs API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-all-assets",
      "name": "Merge Assets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2440, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build ADVANCED Shotstack timeline\nconst strategy = $('Parse Strategy').first().json;\nconst images = $input.all().filter(item => item.binary?.data);\nconst voiceover = $('ElevenLabs Voiceover').first();\nconst musicUrl = $('Extract Product Data').first().json.music_url;\nconst musicVolume = $('Extract Product Data').first().json.music_volume;\n\n// Advanced transition mapping\nconst transitionMap = {\n  'fade': { in: 'fade', out: 'fade' },\n  'wipeLeft': { in: 'wipeLeft', out: 'fade' },\n  'wipeRight': { in: 'wipeRight', out: 'fade' },\n  'zoomIn': { in: 'zoomIn', out: 'fade' },\n  'slideUp': { in: 'slideUp', out: 'fade' },\n  'slideDown': { in: 'slideDown', out: 'fade' },\n  'slideLeft': { in: 'slideLeft', out: 'fade' },\n  'slideRight': { in: 'slideRight', out: 'fade' }\n};\n\n// Effect mapping for Ken Burns + motion\nconst effectMap = {\n  'zoomIn': 'zoomIn',\n  'zoomOut': 'zoomOut',\n  'zoomInSlow': 'zoomInSlow',\n  'slideLeft': 'slideLeft',\n  'slideRight': 'slideRight',\n  'slideUp': 'slideUp',\n  'slideDown': 'slideDown'\n};\n\n// Build image clips with ADVANCED effects\nlet currentTime = 0;\nconst imageClips = strategy.timing.map((timing, index) => {\n  const transition = transitionMap[timing.transition] || transitionMap['fade'];\n  const effect = effectMap[timing.effect] || 'zoomIn';\n  \n  const clip = {\n    asset: {\n      type: 'image',\n      src: `data:image/png;base64,${images[index].binary.data.toString('base64')}`\n    },\n    start: currentTime,\n    length: timing.duration,\n    fit: 'cover',\n    scale: 1.15, // Enhanced Ken Burns effect\n    transition: transition,\n    effect: effect,\n    opacity: 1\n  };\n  \n  currentTime += timing.duration;\n  return clip;\n});\n\nconst totalDuration = currentTime;\n\n// Build timeline\nconst timeline = {\n  tracks: [\n    // Track 1: Images with effects\n    { clips: imageClips },\n    // Track 2: Voiceover\n    {\n      clips: [\n        {\n          asset: {\n            type: 'audio',\n            src: `data:audio/mpeg;base64,${voiceover.binary.data.toString('base64')}`\n          },\n          start: 0,\n          length: totalDuration,\n          volume: 1.0\n        }\n      ]\n    }\n  ]\n};\n\n// Add background music if provided\nif (musicUrl) {\n  timeline.soundtrack = {\n    src: musicUrl,\n    effect: 'fadeInFadeOut',\n    volume: musicVolume\n  };\n}\n\n// Track 3: Animated text overlays\nconst textClips = strategy.timing\n  .filter(t => t.text_overlay)\n  .map(timing => {\n    const startTime = strategy.timing.slice(0, timing.image).reduce((sum, t) => sum + t.duration, 0);\n    \n    return {\n      asset: {\n        type: 'title',\n        text: timing.text_overlay,\n        style: 'minimal',\n        color: '#ffffff',\n        size: 'large',\n        background: 'rgba(0,0,0,0.65)',\n        position: timing.image === 0 ? 'top' : (timing.image === strategy.timing.length - 1 ? 'bottom' : 'center')\n      },\n      start: startTime + 0.3,\n      length: Math.min(2.5, timing.duration - 0.5),\n      transition: {\n        in: 'slideUp',\n        out: 'fade'\n      },\n      effect: 'zoomIn'\n    };\n  });\n\nif (textClips.length > 0) {\n  timeline.tracks.push({ clips: textClips });\n}\n\nreturn {\n  json: {\n    timeline: timeline,\n    output: {\n      format: 'mp4',\n      resolution: '1080',\n      aspectRatio: '9:16',\n      fps: 30,\n      quality: 'high'\n    }\n  }\n};"
      },
      "id": "build-shotstack",
      "name": "Build Shotstack Timeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "shotstack-render",
      "name": "Shotstack Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shotstack-key",
          "name": "Shotstack API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "wait-render",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3100, 500],
      "webhookId": "wait-render-standard"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shotstack.io/v1/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-render-status",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shotstack-key",
          "name": "Shotstack API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "render-done",
              "leftValue": "={{ $json.response.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-render-done",
      "name": "If Render Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3540, 500]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3540, 720],
      "webhookId": "wait-retry-standard"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"video_url\": \"{{ $json.response.url }}\",\n  \"video_filename\": \"{{ $('Parse Strategy').first().json.product_name.toLowerCase().replace(/ /g, '-') }}-{{ Date.now() }}.mp4\",\n  \"script\": {{ JSON.stringify($('Parse Strategy').first().json.script) }},\n  \"strategy\": {{ JSON.stringify($('Parse Strategy').first().json.strategy) }},\n  \"midjourney_prompts\": {{ JSON.stringify($('Parse Strategy').first().json.midjourney_prompts) }},\n  \"performance_estimate\": {{ JSON.stringify($('Parse Strategy').first().json.performance_estimate) }},\n  \"version\": \"Standard V1 Practical\",\n  \"features\": [\n    \"5-6 high-quality UGC images (Midjourney --q 2)\",\n    \"Advanced transitions (fade, wipe, slide, zoom)\",\n    \"Ken Burns effect for dynamic motion\",\n    \"Animated text overlays\",\n    \"ElevenLabs Turbo V2 voiceover\",\n    \"Custom music URL support\"\n  ],\n  \"render_time\": \"~3-5 minutes\",\n  \"estimated_ctr\": \"3.5-5%\",\n  \"music_used\": \"{{ $('Extract Product Data').first().json.music_url || 'No music' }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3980, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract Product Data", "type": "main", "index": 0}]]
    },
    "Extract Product Data": {
      "main": [[{"node": "GPT-4o Strategy", "type": "main", "index": 0}]]
    },
    "GPT-4o Strategy": {
      "main": [[{"node": "Parse Strategy", "type": "main", "index": 0}]]
    },
    "Parse Strategy": {
      "main": [[
        {"node": "Loop Midjourney Prompts", "type": "main", "index": 0},
        {"node": "ElevenLabs Voiceover", "type": "main", "index": 0}
      ]]
    },
    "Loop Midjourney Prompts": {
      "main": [[{"node": "Midjourney Generate", "type": "main", "index": 0}]]
    },
    "Midjourney Generate": {
      "main": [[{"node": "Wait for Midjourney", "type": "main", "index": 0}]]
    },
    "Wait for Midjourney": {
      "main": [[{"node": "Check Midjourney Status", "type": "main", "index": 0}]]
    },
    "Check Midjourney Status": {
      "main": [[{"node": "Download Image", "type": "main", "index": 0}]]
    },
    "Download Image": {
      "main": [[{"node": "Collect All Images", "type": "main", "index": 0}]]
    },
    "Collect All Images": {
      "main": [[{"node": "Merge Assets", "type": "main", "index": 0}]]
    },
    "ElevenLabs Voiceover": {
      "main": [[{"node": "Merge Assets", "type": "main", "index": 1}]]
    },
    "Merge Assets": {
      "main": [[{"node": "Build Shotstack Timeline", "type": "main", "index": 0}]]
    },
    "Build Shotstack Timeline": {
      "main": [[{"node": "Shotstack Render", "type": "main", "index": 0}]]
    },
    "Shotstack Render": {
      "main": [[{"node": "Wait for Render", "type": "main", "index": 0}]]
    },
    "Wait for Render": {
      "main": [[{"node": "Check Render Status", "type": "main", "index": 0}]]
    },
    "Check Render Status": {
      "main": [[{"node": "If Render Complete", "type": "main", "index": 0}]]
    },
    "If Render Complete": {
      "main": [
        [{"node": "Download Final Video", "type": "main", "index": 0}],
        [{"node": "Wait Before Retry", "type": "main", "index": 0}]
      ]
    },
    "Wait Before Retry": {
      "main": [[{"node": "Check Render Status", "type": "main", "index": 0}]]
    },
    "Download Final Video": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 900
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-22T00:00:00.000Z",
      "updatedAt": "2026-01-22T00:00:00.000Z",
      "id": "video-agent",
      "name": "Video Agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-22T00:00:00.000Z",
  "versionId": "1.0.0"
}
